<h2>Register for a townbikes account</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="large-12 columns">
      <%= devise_error_messages! %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Email</span>
        </div>
        <div class="small-9 columns">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Password</span>
        </div>
        <div class="small-9 columns">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Confirm Password</span>
        </div>
        <div class="small-9 columns">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit "Save", class: "button" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <h3><small>To reserve or list a bicycle, you must be a registered member of townbikes</small></h3>
    Already have an account? <%= link_to "Sign in here", new_session_path(resource_name) %><br />
    <%= render "devise/shared/links" %>
  </div>
</div>
