<% if user_signed_in? %>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
          <li class="name">
            <h1><%= link_to 'townbik.es', root_path %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><%= link_to '<span>Menu</span>', root_path %></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><%= link_to 'List your Bicycle', new_user_bicycle_path(@user.id) %></li>
            <li class="has-dropdown">
              <a href="#">My Account</a>
              <ul class="dropdown">
                <li class="active"><%= link_to 'My Reservations', reservations_path %></li>
                <li><%= link_to 'My Bicycles', bicycles_path(:user_id => @user.id) %></li>
                <li><%= link_to 'Locations', locations_path %></li>
                <li><%= link_to('Edit my profile', edit_user_registration_path) %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="has-form">
              <%= render 'shared/location_search' %>
            </li>
          </ul>
        </section>
    </nav>
  </div>
<% else %>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
          <li class="name">
            <h1><%= link_to 'townbik.es', root_path %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><%= link_to '<span>Menu</span>', root_path %></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><%= link_to 'List your Bicycle', new_user_registration_path %></li>
            <li><%= link_to 'Login', '#', :data => { :"reveal-id" => "loginModal" }  %></li>
            <li><%= link_to 'Sign up', '#', :data => { :"reveal-id" => "signupModal" } %></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="has-form">
              <%= render 'shared/location_search' %>
            </li>
          </ul>
    </nav>
  </div>
<% end %>

<div id="signupModal" class="reveal-modal" data-reveal>
  <%= render "devise/registrations/register_form" %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="loginModal" class="reveal-modal" data-reveal>
  <%= render "devise/sessions/login" %>
  <a class="close-reveal-modal">&#215;</a>
</div>
