<% if user_signed_in? %>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
          <li class="name">
            <h1><%= link_to 'townbikes', root_path %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon">
            <%= link_to root_path do %>
              <span></span>
            <% end %>
          </li>
          <li>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active">
              <% if current_user.location != nil %>
                <%= link_to 'List a Bicycle', new_user_bicycle_path(current_user.id) %>
              <% else %>
                <%= link_to 'List a Bicycle', new_user_location_path(current_user.id) %>
              <% end %>
            </li>
            <li>
              <% if pending_count > 0 %>
                <span class="pending-notification" data-tooltip aria-haspopup="true" title="You have <%= pending_count %> pending reservations on your bicycles">
                  <%= link_to raw("<i class='fi-info size-20'></i>"), reservations_path({status: "pending", owner: "owner"}) %></i>
                </span>
              <% end %>
            </li>
            <li>
              <% if upcoming_count > 0 %>
                <span class="upcoming-notification" data-tooltip aria-haspopup="true" title="You have <%= upcoming_count %> upcoming bicycle reservations in the next week">
                  <%= link_to raw("<i class='fi-flag size-20'></i>"), reservations_path({status: "approved", renter: "renter"}) %></i>
                </span>
              <% end %>
            </li>
            <li class="has-dropdown">
              <a href="#">
                <%= current_user.first_name || current_user.email %>  <i class="fi-torso-female  size-14"></i>
              </a>
              <ul class="dropdown">
                <li><%= link_to 'Reservations', reservations_path %></li>
                <li><%= link_to 'Bicycles', bicycles_path(:user_id => current_user.id) %></li>
                <li><%= link_to('My profile', user_path(current_user.id)) %></li>
                <li><%= link_to('Edit my profile', edit_user_registration_path) %></li>
                <% if current_user.location != nil %>
                  <li><%= link_to('Edit my location', edit_user_location_path(current_user.id, current_user.location.id)) %></li>
                <% else %>
                  <li><%= link_to('Add my location', new_user_location_path(current_user.id)) %></li>
                <% end %>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="has-form">
              <%= render 'shared/location_search' %>
            </li>
          </ul>
        </section>
    </nav>
  </div>
<% else %>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
          <li class="name">
            <h1><%= link_to 'townbik.es', root_path %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><%= link_to '<span></span>', root_path %></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><%= link_to 'List a Bicycle', new_user_registration_path %></li>
            <li><%= link_to 'Login', '#', :data => { :"reveal-id" => "loginModal" }  %></li>
            <li><%= link_to 'Sign up', '#', :data => { :"reveal-id" => "signupModal" } %></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="has-form">
              <%= render 'shared/location_search' %>
            </li>
          </ul>
    </nav>
  </div>
<% end %>

<div id="signupModal" class="reveal-modal" data-reveal>
  <%= render "devise/registrations/register_form" %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="loginModal" class="reveal-modal" data-reveal>
  <%= render "devise/sessions/login" %>
  <a class="close-reveal-modal">&#215;</a>
</div>
