<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li> <%= error %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [ @user, @bicycle, @reservation ] do |f| %>
  <%= f.label :from_date %> <%= f.text_field :from_date %><br />
  <%= f.label :to_date %> <%= f.text_field :to_date %><br />
  <%= f.submit "Save", class: "save" %>
<% end %>