<div id="carousel-container">
  <div class="row">
    <div class="large-12 columns">
      <div class="carousel">
        <div><%= image_tag("/assets/images/carousel-1.png") %></div>
        <div><%= image_tag("/assets/images/carousel-2.png") %></div>
        <div><%= image_tag("/assets/images/carousel-3.png") %></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-3">
      <li><div class="city-locations text-center" id="barcelona"><h2><%= link_to 'Barcelona', locations_path(:search => 'barcelona') %></h2></div></li>
      <li><div class="city-locations text-center" id="oslo"><h2><%= link_to 'Oslo', locations_path(:search => 'oslo') %></h2></div></li>
      <li><div class="city-locations text-center" id="melbourne"><h2><%= link_to 'Melbourne', locations_path(:search => 'melbourne') %></h2></div></li>
      <li><div class="city-locations text-center" id="copenhagen"><h2><%= link_to 'Copenhagen', locations_path(:search => 'copenhagen') %></h2></div></li>
      <li><div class="city-locations text-center" id="berlin"><h2><%= link_to 'Berlin', locations_path(:search => 'berlin') %></h2></div></li>
      <li><div class="city-locations text-center" id="amsterdam"><h2><%= link_to 'Amsterdam', locations_path(:search => 'amsterdam') %></h2></div></li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.carousel').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      slidesToScroll: 1
    });
  });
</script>
