<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li> <%= error.message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [ current_user, @bicycle ] do |f| %>
  <div class="row">
    <div class="large-8 columns">
      <label>Manufacturer
        <%= f.text_field :manufacturer %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <label>Bicycle Type
      <%= select(:bicycle, :bicycle_type, ["bakfiets", "BMX", "cyclocross", "dutch-style", "folding", "freight", "hybrid", "MTB", "pedersen", "penny-farthing", "racing", "randonneur", "recumbent", "road", "time-trial", "touring", "tricycle", "unicycle"]) %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <label>Bicycle size <span data-tooltip aria-haspopup="true" title="The size of a bike is the measurement in cm from the center of the bottom bracket to the very top of the seat tube.<br /><img src='/assets/images/ST-measurement.png' />"><i class="fi-info"></i></span>
      <%= f.number_field :size %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <label>Bicycle Features</label>
      <ul class="small-block-grid-2">
        <%= f.fields_for :properties do |p| %>
          <% @bicycle.properties.each do |k,v| %>
            <% checked = true if v == '1' %>
            <li class="panel">
              <h4><small><%= k.capitalize %></small></h4>
              <div class="switch">
                <%= p.check_box k.to_s, {checked: checked} %>
                <%= p.label k.to_s %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <label>Daily Cost
        <%= f.number_field :daily_cost %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <label>Upload a Photo
        <%= f.file_field :photo %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Save", class: "button" %>
    </div>
  </div>
<% end %>
