<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li> <%= error.message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@user, @bicycle] do |f| %>
  <%= f.label :manufacturer %> <%= f.text_field :manufacturer %><br />
  <%= f.label :bicycle_type %> <%= f.text_field :bicycle_type %><br />
  <%= f.label :size %> <%= f.text_field :size %><br />
  <%= f.label :daily_cost %> <%= f.text_field :daily_cost %><br />
  <%= f.label :description %> <%= f.text_area :description %><br />
  <%= f.label :properties %>

  <%= f.fields_for :properties do |p| %>
    <%= p.label :helmet %> <%= p.check_box :helmet %>
    <%= p.label :front_basket %> <%= p.check_box :front_basket %>
    <%= p.label :rear_basket %> <%= p.check_box :rear_basket %>
    <%= p.label :trailer %> <%= p.check_box :trailer %>
    <%= p.label :internal_gears %> <%= p.check_box :internal_gears %>
    <%= p.label :child_seat %> <%= p.check_box :child_seat %>
  <% end %>
  <br />
  <%= f.label :photo %> <%= f.file_field :photo %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <br />
  <%= f.submit "Save", class: "save" %>
<% end %>
