<ul>
  <li><%= f.label :helmet %> <%= f.check_box :helmet %></li>
  <li><%= f.label :front_basket %> <%= f.check_box :front_basket %></li>
  <li><%= f.label :rear_basket %> <%= f.check_box :rear_basket %></li>
  <li><%= f.label :trailer %> <%= f.check_box :trailer %></li>
  <li><%= f.label :internal_gears %> <%= f.check_box :internal_gears %></li>
  <li><%= f.label :child_seat %> <%= p.check_box :child_seat %></li>
</ul>
