<div class="row">
  <div class="large-12 columns">
    <h1>Bicycles</h1>
    <ul class="small-block-grid-2">
      <% @bicycles.each do |bicycle| %>
        <li>
          <div class="panel callout radius">
            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse prefix-radius">
                  <div class="small-7 columns">
                    <ul class="no-bullet">
                      <li><h4><%= bicycle.manufacturer %> <%= bicycle.bicycle_type %> (ID: <%= bicycle.id %>)</h4></li>
                      <li>Size: <%= bicycle.size %></li>
                      <li>Cost per day: €<%= bicycle.daily_cost %></li>
                      <li>Properties: <%= bicycle.properties %></li>
                      <li>Location: <%= bicycle.location.city %></li>
                      <li>Owner: <%= bicycle.user.first_name %> (ID: <%= bicycle.user.id %>)</li>
                    </ul>
                  </div>
                  <div class="small-5 columns">
                    <ul class="no-bullet">
                      <% if bicycle.photo? %>
                        <li class="th"><%= image_tag(bicycle.photo_url(:thumb)) %></li>
                      <% else %>
                        <li class="th"><%= image_tag("/assets/images/tandem-thumb.png") %></li>
                      <% end %>
                      <li><%= link_to "View details", bicycle_path(bicycle.id), class: "button" %></li>
                      <% if user_signed_in? && bicycle.user_id == @user.id %>
                        <li><%= link_to "Edit", edit_user_bicycle_path(bicycle.user_id, bicycle.id), method: 'get', class: "button" %></li>
                        <li>
                          <%= link_to reservations_path(:bicycle_id => bicycle.id), class: "button" do %>
                            Reservations (<%= bicycle.reservations.count %>)
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
