<div class="row">
  <div class="large-12 columns">
    <h1>Bicycle</h1>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <div id="bicycle-show">
      <% if @bicycle.photo? %>
        <%= image_tag(@bicycle.photo_url) %>
      <% else %>
        <%= image_tag("/assets/images/tandem-default-636.png") %>
      <% end %>
    </div>
  <%= link_to "Back to Bicycles List", bicycles_path, class: "button" %>
  </div>
  <div class="large-4 columns">
    <ul class="no-bullet">
      <li><h5>(<%= @bicycle.id %>) <%= @bicycle.manufacturer %> <%= @bicycle.bicycle_type %></h5></li>
      <li>Size: <%= @bicycle.size %></li>
      <li>Cost per day: <%= @bicycle.daily_cost %></li>
      <li>Properties: <%= @bicycle.properties %></li>
      <li>Description: <%= @bicycle.description %></li>
      <li>Bicycle Owner: <%= link_to "#{@bicycle.user.first_name} #{@bicycle.user.last_name}", user_path(@bicycle.user.id) %> (<%= @bicycle.user.id %>)</li>
      <li>Location: <%= @bicycle.location.city %></li>
      <li>
        <% if current_user.id == @bicycle.user.id %>
            <%= link_to reservations_path(:bicycle_id => @bicycle.id), class: "button" do %>
              Reservations (<%= @bicycle.reservations.count %>)
            <% end %>
            <%= link_to "Edit", edit_user_bicycle_path(@bicycle.user_id, @bicycle.id), method: 'get', class: "button" %>
        <% else %>
            <%= link_to 'Reserve', new_reservation_path(reservation: { bicycle_id: @bicycle.id} ), class: "button" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
