<div class="row">
  <div class="large-12 columns">
    <h1>Bicycle</h1>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <div id="bicycle-show">
      <% if @bicycle.photo? %>
        <%= image_tag(@bicycle.photo_url) %>
      <% else %>
        <%= image_tag("/assets/images/tandem-default-636.png") %>
      <% end %>
    </div>
  <%= link_to "Back to Bicycles List", bicycles_path, class: "button" %>
  </div>
  <div class="large-4 columns">
    <ul class="no-bullet">
      <li><h5><%= @bicycle.manufacturer.capitalize %> <%= @bicycle.bicycle_type.capitalize %></li>
      <li>Size: <%= @bicycle.size %> <span data-tooltip aria-haspopup="true" title="The size of a bike is the measurement in cm from the center of the bottom bracket to the very top of the seat tube."><i class="fi-alert"></i></span></li>
      <li>Cost per day: €<%= @bicycle.daily_cost %></li>
      <li>Properties: <%= @bicycle.properties %></li>
      <li>Description: <%= @bicycle.description %></li>
      <li>Bicycle owner: <%= @bicycle.user.first_name.capitalize if @bicycle.user.first_name.present? %> <%= @bicycle.user.last_name.capitalize if @bicycle.user.last_name.present? %> <%= link_to @bicycle.user.email %></li>
      <li>Location: <%= @bicycle.location.city %></li>
      <li>
        <% if current_user == @bicycle.user %>
            <%= link_to reservations_path(:bicycle_id => @bicycle.id), class: "button" do %>
              Reservations (<%= @bicycle.reservations.count %>)
            <% end %>
            <%= link_to "Edit", edit_user_bicycle_path(@bicycle.user_id, @bicycle.id), method: 'get', class: "button" %>
        <% else %>
            <%= link_to 'Reserve', new_reservation_path(reservation: { bicycle_id: @bicycle.id} ), class: "button" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
