<h1>Bicycles Show</h1>
<ul>
  <li>
    Bicycle ID: <%= @bicycle.id %><br />
    Manufacturer: <%= @bicycle.manufacturer %><br />
    Type: <%= @bicycle.bicycle_type %><br />
    Size: <%= @bicycle.size %><br />
    Cost per day: <%= @bicycle.daily_cost %><br />
    Properties: <%= @bicycle.properties %><br />
    Description: <%= @bicycle.description %><br />
    User ID: <%= @bicycle.user_id %><br />
    Owner: <%= link_to "#{@owner.first_name} #{@owner.last_name}", user_path(@owner.id) %><br />
    Photo: <%= image_tag(@bicycle.photo_url) if @bicycle.photo? %>
    <%= link_to 'Reserve this Bicycle', new_reservation_path(reservation: { bicycle_id: @bicycle.id} ) %>
  </li>
</ul>
<%= link_to "Back to Bicycles List", bicycles_path %>
