<h1>Bicycles Show</h1>
<ul>
  <li>
    Bicycle ID: <%= @bicycle.id %><br />
    Manufacturer: <%= @bicycle.manufacturer %><br />
    Type: <%= @bicycle.bicycle_type %><br />
    Size: <%= @bicycle.size %><br />
    Cost per day: <%= @bicycle.daily_cost %><br />
    Properties: <%= @bicycle.properties %><br />
    Description: <%= @bicycle.description %><br />
    User ID: <%= @bicycle.user_id %><br />
    Owner: <%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user.id) %><br />
    Location: <%= @user.location %>
  </li>
</ul>
<%= link_to "Back to Bicycles List", bicycles_path %>
