<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li> <%= error.message %> </li>
    <% end %>
  </ul>
<% end %>

<% if current_user == @reservation.owner %>

  <%= form_for [ @reservation ] do |f| %>
    <div class="row">
      <div class="large-8 columns">
        <label>From Date
          <%= f.date_field :from_date, value: Date.today, min: Date.today, :disabled=>true %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <label>To Date
          <%= f.date_field :to_date, value: (Date.today+2.days), min: Date.today, :disabled=>true %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <p>@reservation.owner: <%= @reservation.owner.id %> <%= @reservation.owner.first_name %></p>
        <p>@reservation.renter: <%= @reservation.renter.id %> <%= @reservation.renter.first_name %></p>
        <p>current_user: <%= current_user.id %> <%= @current_user.first_name %></p>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <label>Status</label>
        <%= f.radio_button :status, "approved", :value=>'approved' %><label for="Approve">Approve</label>
        <%= f.radio_button :status, "rejected", :value=>'rejected' %><label for="Reject">Reject</label>
      </div>
    </div>
    <%= f.hidden_field :bicycle_id, value: @reservation.bicycle.id %>
    <%= f.hidden_field :user_id, value: @reservation.renter.id %>
    <div class="row">
      <div class="large-8 columns">
        <%= f.submit "Save", class: "button" %>
      </div>
    </div>
  <% end %>

<% else %>

  <%= form_for [ @reservation ] do |f| %>
    <div class="row">
      <div class="large-8 columns">
        <label>From Date
          <%= f.date_field :from_date, value: Date.today, min: Date.today %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <label>To Date
          <%= f.date_field :to_date, value: (Date.today+2.days), min: Date.today %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <p>@reservation.owner: <%= @reservation.owner.id %> <%= @reservation.owner.first_name %></p>
        <p>@reservation.renter: <%= @reservation.renter.id %> <%= @reservation.renter.first_name %></p>
        <p>current_user: <%= current_user.id %> <%= current_user.first_name %></p>
      </div>
    </div>
    <%= f.hidden_field :bicycle_id, value: @reservation.bicycle.id %>
    <%= f.hidden_field :user_id, value: @reservation.renter.id %>
    <div class="row">
      <div class="large-8 columns">
        <%= f.submit "Save", class: "button" %>
      </div>
    </div>
  <% end %>

<% end %>
