<div class="row">
  <div class="large-12 columns">
    <h1>Reservation History</h1>
    <ul class="inline-list">
      <li><%= link_to 'pending', reservations_path({status: "pending"}) %></li>
      <li><%= link_to 'approved', reservations_path({status: "approved"}) %></li>
      <li><%= link_to 'rejected', reservations_path({status: "rejected"}) %></li>
      <li><%= link_to 'show all reservations', reservations_path %></li>
    </ul>
    <ul class="small-block-grid-2">
      <% @user_reservations.each do |reservation| %>
        <li>
          <div class="panel callout radius">
            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse prefix-radius">
                  <div class="small-7 columns">
                    <ul class="no-bullet">
                      <li><h5>(<%= reservation.id %>) <%= reservation.bicycle.manufacturer %> <%= reservation.bicycle.bicycle_type %> (ID: <%= reservation.bicycle.id %>)</h5></li>
                      <li>From Date: <%= reservation.from_date.strftime('%d %b, %y') %></li>
                      <li>To Date: <%= reservation.to_date.strftime('%d %b, %y') %></li>
                      <li>Status: <span class="<%=reservation.status%>"><%= reservation.status %></span></li>
                      <li>Bicycle Owner: <%= link_to "#{reservation.bicycle.user.first_name} #{reservation.bicycle.user.last_name}", user_path(reservation.bicycle.user.id) %> <%= reservation.bicycle.user.id %></li>
                      <li>Location: <%= reservation.bicycle.location.city %></li>
                    </ul>
                  </div>
                  <div class="small-5 columns">
                    <% if reservation.bicycle.photo? %>
                      <%= image_tag(reservation.bicycle.photo_url(:thumb)) %><br />
                    <% else %>
                      <%= image_tag("/assets/images/tandem-thumb.png") %>
                    <% end %>
                    <ul>
                      <li><%= link_to "View details", reservation_path(reservation.id) %></li>
                      <% if user_signed_in? && reservation.bicycle.user_id == @user.id %>
                        <li><%= link_to "Edit this Reservation", edit_reservation_path(reservation.id, :bicycle_id => reservation.bicycle.id) %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
