<h3>Pending: <%= @pending_count %></h3>
<div class="row">
  <div class="large-12 columns">
    <h1>Reservation History</h1>
    <div class="panel">
      <dl class="sub-nav reservation-type">
      <dt>Reservation type:</dt>
        <dd><%= link_to 'Reservations as bicycle renter', reservations_path({bicycle: "renter"}) %></dd>
        <dd><%= link_to 'Reservations as bicycle owner', reservations_path({bicycle: "owner"}) %></dd>
      </dl>
      <dl class="sub-nav reservation-status">
        <dt>Status:</dt>
        <dd><%= link_to 'All', reservations_path %></dd>
        <dd><%= link_to 'Approved', reservations_path({status: "approved", bicycle: params[:bicycle]}) %></dd>
        <dd><%= link_to 'Pending', reservations_path({status: "pending", bicycle: params[:bicycle]}) %></dd>
        <dd><%= link_to 'Rejected', reservations_path({status: "rejected", bicycle: params[:bicycle]}) %></dd>
        <dd><%= link_to 'Expired', reservations_path({expired: "expired", bicycle: params[:bicycle]}) %></dd>
      </dl>
    </div>
    <ul class="small-block-grid-2">
      <% @user_reservations.each do |reservation| %>
        <li>
          <div class="panel callout radius">
            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse prefix-radius">
                  <div class="small-7 columns">
                    <ul class="no-bullet">
                      <li><h5><%= link_to "#{reservation.bicycle.manufacturer} #{reservation.bicycle.bicycle_type}".capitalize, bicycle_path(reservation.bicycle.id) %></h5></li>
                      <li><h4><small>Reservation ID: <%= reservation.id %></small></h4></li>
                      <li>Reservation begins: <%= reservation.from_date.strftime('%d %b, %y') %></li>
                      <li>Reservation ends: <%= reservation.to_date.strftime('%d %b, %y') %></li>
                      <li>Reservation status: <span class="<%= reservation.status %>"><%= reservation.status %></span></li>
                      <li>Bicycle owner: <%= reservation.owner.first_name.capitalize if reservation.owner.first_name.present? %> <%= reservation.owner.last_name.capitalize if reservation.owner.last_name.present? %> <%= link_to reservation.owner.email %></li>
                      <li>Bicycle renter: <%= reservation.renter.first_name.capitalize if reservation.renter.first_name.present? %> <%= reservation.renter.last_name.capitalize if reservation.renter.last_name.present? %> <%= link_to reservation.renter.email %></li>
                      <li>Location: <%= reservation.owner.location.city %></li>
                    </ul>
                  </div>
                  <div class="small-5 columns">
                    <ul class="no-bullet">
                      <% if reservation.bicycle.photo? %>
                        <li class="th"><%= image_tag(reservation.bicycle.photo_url(:thumb)) %></li>
                      <% else %>
                        <li class="th"><%= image_tag("/assets/images/tandem-thumb.png") %></li>
                      <% end %>
                      <li><%= link_to "View details", reservation_path(reservation.id), class: "button" %></li>
                      <% if user_signed_in? && reservation.bicycle.user_id == current_user.id %>
                        <li><%= link_to "Edit", edit_reservation_path(reservation.id, :bicycle_id => reservation.bicycle.id), class: "button" %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
