<h1>Reservation#show</h1>
<ul>
  <li>
    Reservation ID: <%= @reservation.id %><br />
    Bicycle ID: <%= link_to "#{@reservation.bicycle_id}", bicycle_path(@bicycle.id) %><br />
    From Date: <%= @reservation.from_date %><br />
    To Date: <%= @reservation.to_date %><br />
    Bicycle Owner: <%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user.id) %><br />
    Location: <%= @user.location %><br />
  </li>
</ul>
<%= link_to "Back to Reservation History", reservations_path %>
