<div class="row">
  <div class="large-12 columns">
    <h1>Reservation</h1>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <div id="bicycle-show">
      <% if @reservation.bicycle.photo? %>
        <%= image_tag(@reservation.bicycle.photo_url) %>
      <% else %>
        <%= image_tag("/assets/images/tandem-default-636.png") %>
      <% end %>
    </div>
  <%= link_to "Back to Reservation History", reservations_path, class: "button" %>
  </div>
  <div class="large-4 columns">
    <ul class="no-bullet">
      <li><h5>(<%= @reservation.id %>) <%= @reservation.bicycle.manufacturer %> <%= @reservation.bicycle.bicycle_type %> (ID: <%= @reservation.bicycle.id %>)</h5></li>
      <li>From Date: <%= @reservation.from_date.strftime('%d %b, %y') %></li>
      <li>To Date: <%= @reservation.to_date.strftime('%d %b, %y') %></li>
      <li>Status: <span class="<%= @reservation.status %>"><%= @reservation.status %></span></li>
      <li>Bicycle Owner: <%= link_to "#{@reservation.owner.first_name} #{@reservation.owner.last_name}", user_path(@reservation.owner.id) %> <%= @reservation.owner.id %></li>
      <li>Bicycle Renter: <%= link_to "#{@reservation.renter.first_name} #{@reservation.renter.last_name}", user_path(@reservation.renter.id) %> <%= @reservation.renter.id %></li>
      <li>Location: <%= @reservation.owner.location.city %></li>
      <% if @reservation.owner == @reservation.renter %>
        <li><%= link_to "Edit", edit_reservation_path(@reservation.id, :bicycle_id => @reservation.bicycle.id), class: "button" %></li>
      <% end %>
    </ul>
  </div>
</div>
