<div class="row">
  <div class="large-12 columns">
    <h1>Reservation</h1>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <div id="bicycle-show">
      <% if @reservation.bicycle.photo? %>
        <%= image_tag(@reservation.bicycle.photo_url) %>
      <% else %>
        <%= image_tag("/assets/images/tandem-default-636.png") %>
      <% end %>
    </div>
  <%= link_to "Back to Reservation History", reservations_path, class: "button" %>
  </div>
  <div class="large-4 columns">
    <ul class="no-bullet">
      <li><h5><%= link_to "#{@reservation.bicycle.manufacturer} #{@reservation.bicycle.bicycle_type}".capitalize, bicycle_path(@reservation.bicycle.id) %></h5></li>
      <li>
        <h4><small>Reservation ID: <%= @reservation.id %></small></h4>
      </li>
      <li>Reservation begins: <%= @reservation.from_date.strftime('%d %b, %y') %></li>
      <li>Reservation ends: <%= @reservation.to_date.strftime('%d %b, %y') %></li>
      <li>Reservation status: <span class="<%= @reservation.status %>"><%= @reservation.status %></span></li>
      <li>Bicycle owner: <%= @reservation.owner.first_name.capitalize if @reservation.renter.first_name.present? %> <%= @reservation.owner.last_name.capitalize if @reservation.renter.last_name.present? %> <%= link_to @reservation.owner.email %></li>
      <li>Bicycle renter: <%= @reservation.renter.first_name.capitalize if @reservation.renter.first_name.present? %> <%= @reservation.renter.last_name.capitalize if @reservation.renter.last_name.present? %> <%= link_to @reservation.renter.email %></li>
      <li>Location: <%= @reservation.owner.location.city %></li>
      <% if @reservation.owner != @reservation.renter  && @reservation.owner == current_user %>
        <li><%= link_to "Edit", edit_reservation_path(@reservation.id, :bicycle_id => @reservation.bicycle.id), class: "button" %></li>
      <% end %>
    </ul>
  </div>
</div>
