<h1>Reservation#show</h1>
<ul>
  <li>
    Reservation ID: <%= @user_reservations.id %><br />
    Bicycle ID: <%= link_to "#{@user_reservations.bicycle_id}", bicycle_path(@bicycle.id) %><br />
    From Date: <%= @user_reservations.from_date %><br />
    To Date: <%= @user_reservations.to_date %><br />
    Status: <%= @user_reservations.status %><br />
    Bicycle Owner: <%= link_to "#{@owner.first_name} #{@owner.last_name}", user_path(@owner.id) %> <%= @owner.id %><br />
    Location: <br />
  </li>
</ul>
<%= link_to "Back to Reservation History", reservations_path %>
