<li>
  <span class="location-address">
    <div class="panel">
      <h3><small><%= location.address || location.result || location.search %></small></h3>
      <% if location.user.bicycles.empty? %>
        <div class="panel callout">
          <div class="row">
            <div class="large-12 columns text-center">
              <h5>No bicycles at this location</h5>
            </div>
          </div>
        </div>
      <% else %>
        <% location.user.bicycles.each do |bicycle| %>
          <div class="panel callout">
            <div class="row">
              <div class="large-4 columns">
                <% if bicycle.photo? %>
                  <%= image_tag(bicycle.photo_url(:minithumb), class: "th") %>
                <% else %>
                  <%= image_tag("/assets/images/tandem-minithumb.png", class: "th") %>
                <% end %>
              </div>
              <div class="large-8 columns">
                <%= link_to "#{bicycle.manufacturer}, #{bicycle.bicycle_type}", bicycle_path(bicycle.id) %>
                <br />
                <%= bicycle.user.first_name %> <%= bicycle.user.last_name %>
                <br />
                € <%= bicycle.daily_cost %> per day
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </span>
</li>
