<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li> <%= error.message %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for [ current_user, @location ] do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= devise_error_messages! %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Street name, #</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :street_name %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Suburb</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :suburb %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Postcode</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :post_code %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">City</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :city %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">State</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :state %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Country</span>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :country %>
        </div>
      </div>
    </div>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit "Save", class: "button" %>
    </div>
  </div>
<% end %>
