<div class="row">
  <div class="large-12 columns">
    <div class="row collapse prefix-radius">
      <div class="small-8 columns">
      <h1>Search results</h1>
        <div style="width: 640px;">
          <div id="multi_markers" style="width: 640px; height: 800px;"></div>
        </div>
      </div>
      <div class="small-4 columns">
        <ul class="no-bullet search-bicycle-results">
          <h1>Bicycles in your search city</h1>
          <% locations.each do |location| %>
            <li>
              <span class="location-address">
                <div class="panel">
                  <h3><small><%= location.address || location.result || location.search %></small></h3>
                  <% location.user.bicycles.each do |bicycle| %>
                    <div class="panel callout">
                      <div class="row">
                        <div class="large-4 columns">
                          <% if bicycle.photo? %>
                            <%= image_tag(bicycle.photo_url(:minithumb), class: "th") %>
                          <% else %>
                            <%= image_tag("/assets/images/tandem-minithumb.png", class: "th") %>
                          <% end %>
                        </div>
                        <div class="large-8 columns">
                          <%= link_to "#{bicycle.manufacturer}, #{bicycle.bicycle_type}", bicycle_path(bicycle.id) %>
                          <br />
                          <%= bicycle.user.first_name %> <%= bicycle.user.last_name %>
                          <br />
                          € <%= bicycle.daily_cost %> per day
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  var multiHandler = Gmaps.build('Google');
  multiHandler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = multiHandler.addMarkers(<%= raw Location.markers(locations) %>);
    multiHandler.bounds.extendWith(markers);
    multiHandler.fitMapToBounds();
  });
</script>
